html, body {
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

.post_form {
	width: 100%;
}

.isDisabled{
  cursor: not-allowed;
  opacity: 1;
  text-decoration: none;
  pointer-events: none;
}

#title, #phone, #email, #interest{
	color: black;	
	padding: 10px 10px;
	margin: 8px 0;
	border: none;
	border-bottom: 1px solid black;
	width: 91%;
	height: 30px;
}

.stipend_amount{
	color: black;	
	border: none;
	border-bottom: 1px solid black;
	width: auto;
}

#title:focus, #phone:focus, #email:focus, #interest:focus, .stipend_amount:focus{
	outline: 0;
}

.create_project{
	border: 2px solid #5bcac4;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 20px;
	background-color: white;
	color: black;
}

.post_form textarea {

	border: none;
	border-bottom: 1px solid black;
	width: 91%;
	height: 60px;
	border-radius: 3px;
	margin-right: 10px;
	padding: 20px 10px;
}

textarea:focus {
	outline: 0;
}

.all_posts{
	width: 96%; 
	font-size: 15px; 
	padding: 0px 5px;
	min-height: 75px; 
}

.all_posts .comment{
	cursor: pointer;
	text-align: center;
}

.delete_button{
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 4px;
  top: 10px;
  right: -15px;
  position: relative;
  border: none;
}

.close:focus, .delete_button:focus{
  outline: 0;
}

.modal-footer .btn-primary:focus, .modal-footer .btn-default:focus{
  outline: 0;
}

#post_button {

  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  margin-top: 8px;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}

#post_button:hover {
  color: #fff;
  border: 1px solid #3EC1D5;
  background: #3EC1D5;
}

#post_button:focus{
  outline: none;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}

.all_posts{
	border: 1px solid black;
	margin: 3px;
	padding: 10px 12px;
	border-radius: 6px; 
}

#post_body{
	text-align:justify;
	line-height: 27px;
}

.post_profile_pic {
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	height: 300px;	
	width: 100%;
	margin-top: 5px;
}

.comment{
	padding: 4px;
	color: #20AAE5;
}

hr{
	margin-bottom: 10px;
	margin-top: 20px;
	border-top: 1px solid black;
}

.comment .far{
	color: black;
}

.comment_section a{
	font-family: 'Open Sans', sans-serif;
	color: #337ab7;
  	font-size: 12px;
  	font-weight: 400;
  	transition: 0.3s ease;
}

.comment_section a:hover{
	 color: #3EC1D5;
  	text-decoration: none;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	float:left; 
	margin: 0 15px 3px 3px;

}

#comment_form textarea {
	resize: none;
	border: 1px solid #444444;
	width: 85%;
	height: 27px;
	padding: 8px 12px;
	border-radius: 30px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 15px 5px;
}

#comment_form textarea:focus {
	border: 1px solid #5bcac4;
}


#comment_button {
	border: 1px solid #ccc;
	background-color: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #444;
	border-radius: 30px;
	width: 10%;
	height: 45px;
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	font-size: 13px;
    transition: all 0.3s ease 0s;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;

}

#comment_button:hover{
	color: #fff;
  	border: 1px solid #3EC1D5;
  	background: #3EC1D5;
  	cursor: pointer;
}

#comment_button:focus{
  outline: none;
}

.like{
	padding-left: 10%;
}

.newsfeedPostOptions {

	text-decoration: none;
	border:none;
}

.newsfeedPostOptions iframe {
	transform: translateY(-4px);
	border: 0px;
	height: 27px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

/* Nav-bar */

.sticky-logo h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.sticky-logo h1 span {
  color: #3ec1d5;
}

.header-area {

  margin-bottom: 20px;	
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, .75);

}

#navbar-example{
	color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.navbar-header a.navbar-brand {
  display: inline-block;
  height: 60px;
  padding: 15px 0;
}

.main-menu ul.navbar-nav li {
  display: block;
  padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
  text-align: right;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 15px;
  padding: 24px 0px;
  /*text-transform: capitalize;*/
  letter-spacing: 1px;

}

/*.main-menu ul.navbar-nav li.active a::after {
  border: 1px solid #fff;
  bottom: 0px;
  content: "";
  left: 0;
  width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #fff;
}

.main-menu ul.navbar-nav li.active a:focus {
  color: #fff;
}

.main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  position: relative;
}*/

.main-menu ul.navbar-nav li a:hover {
  color: #3EC1D5;
}

.navbar {
  border: medium none;
  margin-bottom: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}


.main-menu ul.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #333;
}

.navbar-default .navbar-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  padding: 25px 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.top-right.text-right {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 20px;
}

.top-right.text-right>li {
  float: right;
  margin: 0px 8px;
}

.top-right.text-right li a {
  color: #fff;
}

/*===================Text==================*/

p {
  margin: 0 0 15px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 15px;
  color: #444;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #3EC1D5;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
}

/*----------------------------------------*/

/*  15. Footer Area
/*----------------------------------------*/

.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
}

.footer-head p {
  color: #444;
}

.footer-head h4 {
  color: #444;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-logo h2 {
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.footer-logo h2 span {
  color: #3ec1d5;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  padding: 10px;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}

.flicker-img>a {
  float: left;
  padding: 1px;
  width: 33.33%;
}

.footer-icons {
  margin-top: 30px;
}

.footer-contacts p span {
  color: #3EC1D5;
  font-weight: 700;
}

.popular-tag ul li {
  display: inline-block;
}

.footer-content {
  display: block;
  overflow: hidden;
}

.popular-tag ul li a:hover, .footer-icons ul li a:hover {
  background: #3EC1D5;
  border: 1px solid #3EC1D5;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  /*text-transform: capitalize;*/
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}

.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #3EC1D5;
}

.copyright-text a {
  color: #444;
}

.copyright>p {
  margin-bottom: 0;
  color: #444;
}

.copyright a, .credits a {
  color: #3EC1D5;
}

.credits {
  padding-top: 5px;
  text-align: center;
}
